@charset "utf-8";
/* CSS Document */

/***** Special Colors *****/
.darkBlueBg{
	background-color:#0f1923;
}
.BlueBg{
	background-color:#4798ED;
}
.greyBg{
	background-color:#f3f3f3;
}
.whiteBg{
	background-color:#fff;
}
.black-color{
	color:#0f1923 !important;
}
.white-color{
	color:#fff !important
}
.blue-color{
	color:#2ea4cb !important;
}
.light-blue-color{
	color:#4798ED !important;
}

/***** Special Classes *****/
.regular-font{
	font-weight:400;
}
.light-font{
	font-weight:300
}
.bold-font{
	font-weight:bold;
}
.semibold-font{
	font-weight:500;
}
.black-font{
    font-family: 'robotoblack';
}
.paddingBox{
	padding-top:70px;
	padding-bottom:70px;
}
.border-top{
	border-top:1px solid #ddd
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
.spacer{
	float:left;
	width:100%;
	height:50px;
}
/*.logo-background{
	background:url(../images/big-logo-img.png) no-repeat center center;
}*/
.no-margin-top{
	margin-top:0 !important
}